.home {
  padding: 10px;
  margin: auto;
  /* width: 90%; */
}
.catalog {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 50px;
}

@media screen and (max-width: 1250px) {
  .product {
    width: 25%;
  }
}

@media screen and (max-width: 1000px) {
  .product {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .home {
    width: 100%;
  }
  .product {
    width: 80%;
  }
}
